<%= turbo_frame_tag "modal" do %>
  <div class="modal" id="reveal-votes-modal" tabindex="-1" data-controller="modal" data-action="turbo:before-render@document->modal#hideBeforeRender">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reveal Votes for <%= @issue.title %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if @issue.game_room.users.size > @issue.pokers_count %>
            <div class="alert alert-danger" role="alert">
              Not everyone has completed their votes yet!
            </div>
          <% end %>
          <p>Are you sure you want to reveal the votes for this issue?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <%= button_to "Reveal Votes", game_room_issue_reveal_votes_path(@issue.game_room, @issue), method: :patch, class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
