# fly.toml app configuration file generated for sprint-spades on 2023-08-18T13:23:05+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "sprint-spades"
primary_region = "sin"
console_command = "/rails/bin/rails console"

[build]

[deploy]
  release_command = "./bin/rails db:prepare"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[statics]]
  guest_path = "/rails/public"
  url_prefix = "/"
