<h1>Editing game room</h1>

<%= render "form", game_room: @game_room %>

<br>

<div>
  <%= link_to "Show this game room", @game_room %> |
  <%= link_to "Back to game rooms", game_rooms_path %>
</div>
