<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">New Game Room</h1>
          <p class="card-text lead mb-4 text-center">Create a new game room to start scrum poker planning.</p>
          <%= render "form", game_room: @game_room %>
        </div>
      </div>
      <div class="text-center mt-4">
        <%= link_to "Back to game rooms", game_rooms_path %>
      </div>
    </div>
  </div>
</div>
