<div class="container mt-auto">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© 2023 Keshav Biswa</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://github.com/keshavbiswa" target="_blank"><%= icon('fa-brands fa-github') %></a></li>
      <li class="ms-3"><a class="text-muted" href="https://twitter.com/keshavbiswa21" target="_blank"><%= icon('fa-brands fa-twitter') %></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.reddit.com/user/RepresentativeOk5318" target="_blank"><%= icon('fa-brands fa-reddit') %></a></li>
    </ul>
  </footer>
</div>

<style>
  @media (min-width: 992px) {
    .footer {
      bottom: 0;
      width: 100%;
    }
  }
</style>