<h1 class="visually-hidden">SprintSpades</h1>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">SprintSpades</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Some random text for now as I have not decided what to put here!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to "Go to Games" , game_rooms_path, class: 'btn btn-primary btn-lg px-4 gap-3' %>
    </div>
  </div>
</div>