<div class="modal fade" id="edit-modal-<%= dom_id(issue) %>" tabindex="-1" aria-labelledby="edit-modal-<%= dom_id(issue) %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-modal-<%= dom_id(issue) %> label">Edit Issue</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-controller="clipboard">
        <%= render 'issues/form', { game_room: game_room, issue: issue } %>
      </div>
    </div>
  </div>
</div>
