<%= turbo_frame_tag game_room, "issues" do %>
  <div class="card">
    <div class="card-header">
      Issues
    </div>
    <div class="card-body">
      <ul class="list-group">
        <%= turbo_frame_tag "issues" do %>
          <% issues.recent.each do |issue| %>
            <%= render issue, { game_room: game_room } %>
          <% end %>
        <% end %>
        <% if policy(game_room.issues.new).create? %>
          <li class="list-group-item">
            <%= link_to "New Issue", new_game_room_issue_path(game_room), class: "btn btn-primary", data: { turbo_frame: 'modal' } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>