<table class="table table-bordered">
  <thead>
    <th>#</th>
    <th>Player</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">3</th>
      <td class="table-active">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>