<%= turbo_frame_tag "player_table" do %>
  <table class="table table-bordered">
    <thead>
      <th>#</th>
      <th>Player</th>
      <th>Status</th>
    </thead>
    <tbody>
      <% game_room.users.each_with_index do |user, i| %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td class="table-active"><%= user.email %></td>
          <td><%= player_status(user, issue) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>