<div class="container mt-5" data-controller="vote">
  <div class="row">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-action="click->vote#vote">0</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-action="click->vote#vote">1</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-action="click->vote#vote">2</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-action="click->vote#vote">3</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-action="click->vote#vote">5</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" data-action="click->vote#vote">8</button>
    </div>
  </div>
</div>