<%= turbo_frame_tag "modal" do %>
  <div class="modal" id="revote-modal" tabindex="-1"  data-controller="modal" data-action="turbo:before-render@document->modal#hideBeforeRender">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Revote for <%= @issue.title %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>You are about to start a voting round once again. Are you sure you want to do that?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <%= button_to "Revote", game_room_issue_revotes_path(@issue.game_room, @issue), method: :patch, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>