<h1>Editing poker</h1>

<%= render "form", poker: @poker %>

<br>

<div>
  <%= link_to "Show this poker", game_room_poker_path(@game_room, @poker) %> |
  <%= link_to "Back to pokers", game_room_pokers_path(@game_room) %>
</div>
