<p style="color: green"><%= notice %></p>

<h1>Pokers</h1>

<div id="pokers">
  <% @pokers.each do |poker| %>
    <%= render poker %>
    <p>
      <%= link_to "Show this poker", poker %>
    </p>
  <% end %>
</div>

<%= link_to "New poker", new_poker_path %>
